{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}
    <h1 class="display-1">Evenements</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ evenement.heure ? evenement.heure|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ evenement.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a class="p-3 text-decoration-none" href="{{ path('app_evenements_index') }}">
        <img src="{{asset('images/previous.png')}}" width="35" title="evenements" alt="evenemets"/>
    </a>

    <a class="p-2 text-decoration-none" href="{{ path('app_evenements_edit', {'id': evenement.id}) }}">
        <img src="{{asset('images/editing.png')}}" width="35" title="modifier" alt="modifier"/>
    </a>

    {{ include('evenements/_delete_form.html.twig') }}
{% endblock %}
