{% extends 'base.html.twig' %}

{% block title %}Pointaux{% endblock %}

{% block body %}
    <h1>Pointaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pointaux.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ pointaux.libelle }}</td>
            </tr>
            <tr>
                <th>Logitude</th>
                <td>{{ pointaux.logitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ pointaux.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pointaux_index') }}">back to list</a>

    <a href="{{ path('app_pointaux_edit', {'id': pointaux.id}) }}">edit</a>

    {{ include('pointaux/_delete_form.html.twig') }}
{% endblock %}
