<div class="row">
    <div class="col-12">
        <div class="border border-1 border-secondary p-1">
            <strong>Nom : </strong> {{ la_ronde.agent.nom }} {{la_ronde.agent.prenom}}<br>
             <strong>Numero professionel : </strong> {{ la_ronde.agent.numPro }}<br>
            <strong>Téléphone : </strong> {{ la_ronde.agent.telephone }}
        </div>
    </div>
</div>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button id="submit" class="header-bg p-3 text-white border-0">{{ button_label|default('Enregistrer') }}</button>
    
    {{ form_end(form) }}
{{ form_end(form) }}

<div class="w-100 text-end">
   <button id="display" class="header-bg text-white p-2 border-0">Ajouter une chronologie </button>
</div>
<div>
  <table class="golden-table w-100" id="recap">
    <thead>
        <tr class="text-center">
            <th class="p-1" >Heure</th>
            <th class="p-1" >Type</th>
            <th class="p-1" >Pointeau</th>
            <th class="p-1" >Observation</th>
            <th class="p-1" >Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
       
</div>
<!-- Modal -->
<div class="fixed-top pt-5 visually-hidden" id="bubble">
    <div class="window header-bg-rgba w-75 m-auto p-5">
        <div class="alert bg-white">
            <div class="alert-header row">
                <h3 class="col-6">Ajouter une observation</h3>
                <span class="col-6 text-end close-alert" onclick='closeFenetre()' role="button">&times;</span>
            </div>
            <div class="alert-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Heure</label>
                        <input type="time" class="form-control" id="heure">
                    </div>
                    <div class="form-group">
                        <label for="">Type</label>
                        <select class="form-control" id="type">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Pointeau</label>
                        <select class="form-control" id="pointaux">
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Observation</label>
                        <textarea type="text" class="form-control" id="observation" height="100">

                        </textarea>
                    </div>
                    <div class="pt-3">
                    <button id="cancel" class="header-bg p-2 text-white border-0">Annuler</button>
                    <button id="new-event" class="header-bg p-2 text-white border-0">Ajouter</button>
                    </div>
                </form>
            </div>
    </div>

</div>


<!--##########################################################################################-->
<button id="add" class="btn">Add</button>

<script type="text/javascript">
let site =  parseInt(localStorage.getItem('site'));
let id = 1;

const base_url = '{{ app.request.getBaseURL() }}';
const loadPointaux = async (idPoint,target) => {
    const response = await fetch(`${base_url}/pointaux/site-pointaux/${idPoint}`);
    const data = await response.json();
    target.innerHTML = '';
    // console.log('data pointaux:', data);
    data.map(pointaux => {
        const option = document.createElement('option');
        option.value = pointaux;
        option.innerHTML = pointaux;
        target.appendChild(option);
    });
}
const loadType = async (target) => {
    const response = await fetch(`${base_url}/type/evenements/tout`);
    const data = await response.json();
    data.map(type => {
        const option = document.createElement('option');
        option.value = type;
        option.innerHTML = type;
        target.appendChild(option);
    });
}

/*
* fonction permettant de selectionner une valeur 
* par defaut dans un select
*/

const setDefaultValueInSelect = (select, targetValue) => {
    const options = select.childNodes;
    for(let i =1;i<options.length;i++){
        if(options[i].value===targetValue) options[i].selected = true;
        else options[i].selected = false;
    }

}

/*
* fonction pour auto repmplir la date et l'heure du formulaire
*/

const setFormCurrentTime = () => {
    const formDate = document.querySelector('#la_ronde_date_debut_date');
    const heureForm = document.querySelector('#la_ronde_date_debut_time_hour');
    const minForm = document.querySelector('#la_ronde_date_debut_time_minute');
    const dateTime = new Date();
    const jour = `${(dateTime.getDate())>=10?'':0 }${dateTime.getDate()}`;
    const mois = `${(dateTime.getMonth()+1)>=10?'':0 }${dateTime.getMonth()+1}`;
    formDate.value = `${dateTime.getFullYear()}-${mois}-${jour}`;
    setDefaultValueInSelect(heureForm,`${(dateTime.getHours())}`);
    setDefaultValueInSelect(minForm,`${(dateTime.getMinutes())}`);
    // console.log(`${dateTime.getFullYear()}-${mois}-${jour} ${heureForm.value}:${minForm.value}`);
}

/*
* cette fonction recupere la date et l'heure dans le formulaire
* pour l'enregistrer dans le localStorage du l'utilisateur
*/
const setFormTimeToLocalStorage = ()=>{
    const formDate = document.querySelector('#la_ronde_date_debut_date');
    const heureForm = document.querySelector('#la_ronde_date_debut_time_hour');
    const minForm = document.querySelector('#la_ronde_date_debut_time_minute');
    localStorage.setItem('formTime',`${formDate.value}##${heureForm.value}:${minForm.value}`);
}

/*
* fonction servant à restituer le formTime du formulaire en cas 
* de perte session subite ou du temps expiré lors de l'inactivité
*/

const getFormTimeFromLocalStorage = () =>{
    const formDate = document.querySelector('#la_ronde_date_debut_date');
    const heureForm = document.querySelector('#la_ronde_date_debut_time_hour');
    const minForm = document.querySelector('#la_ronde_date_debut_time_minute');
    const formTime = localStorage.getItem('formTime').split('##');
    formDate.value = formTime[0];
    console.log('format:',formTime[0]);
    const heureMin = formTime[1].split(':');
    setDefaultValueInSelect(heureForm,heureMin[0]);
    setDefaultValueInSelect(minForm,heureMin[1]);
    
}
/*
* la fonction soumettre va attribuer un evenement 
* click au boutton du formulaire pour le soumettre
* enfin d'introduire d'autres élements dans le formulaire
*/
const soumettre = () =>{
    const submit = document.getElementById('submit');
    const dataEvents = JSON.parse(localStorage.getItem('dataEvents'));
    submit.addEventListener('click', (event)=>{
        if(dataEvents.length>=2){
            const form =document.querySelector('form');
            const input = document.getElementById('la_ronde_data');
            input.setAttribute('value', localStorage.getItem('dataEvents'));
            localStorage.removeItem('dataEvents');
            localStorage.removeItem('formTime');
            localStorage.clear();
            form.appendChild(input);
        }
        else{
            event.preventDefault();
            alert('Veuillez au moins enregistrer deux evenements!');
        }           
    });
}
loadType(document.getElementById('type'));
const select = document.getElementById('la_ronde_site');
//when you change the value of the select field---------------
select.addEventListener('change', function(e){
    const data = JSON.parse(localStorage.getItem('dataEvents'))??[];
    // console.log('valeur de e:', e.target.selectedOptions[0].value);
    const select = e.target;
    const options = select.childNodes;
    // console.log('options: ',options[0].innerHTML)
    const id = select.selectedOptions[0].innerHTML.split("-")[0].trim();
    console.log(select.selectedOptions[0].innerHTML.split("-")[0].trim());
    if(data.length>0){
        select.disabled = true
        site = site??id;
    }
    else{
        site = parseInt(id);
        select.disabled = false;
    }
    localStorage.setItem('site',site);
    for(let i =1;i<options.length;i++){
        if(parseInt(options[i].value)===(site-1)) options[i].selected = true;
        else options[i].selected = false;
    }
    loadPointaux(site, document.getElementById('pointaux'));
    
});
// ----------------------------------------------------------------------
const path = "{{ path('app_la_ronde_new') }}";
window.addEventListener('load',function() {
/*
* nous recuperons les donner du groupage
* au moment ou la page fini son chargement
* afin de remplir la section pointaux et type du formulaire
* et nous recuperons la date anterieure si il ya eu un login subite 
*/
  const btn = document.getElementById('add');
  const select = document.getElementById('la_ronde_site');
  const id = select.selectedOptions[0].innerHTML.split("-")[0].trim();
  const container = document.getElementById('la_ronde_groupages');
  // localStorage.clear();
  console.log('localstorage:',localStorage);
  const formTime = localStorage.getItem('formTime');
  console.log('formTime:',formTime);
  if(formTime) {
    console.log('localstorage:',localStorage.getItem('formTime'));
    getFormTimeFromLocalStorage();
  }
  else{
    setFormCurrentTime();
    setFormTimeToLocalStorage();
    console.log('crée le storage...');
  }
  btn.addEventListener('click', ()=>{
      const content =container.getAttribute('data-prototype');
      container.innerHTML+= (content);
  });
   
   loadPointaux(id, document.getElementById('pointaux'));
   soumettre();
});
const btnDisplay = document.getElementById('display');
btnDisplay.addEventListener('click', ()=>{
    const bubble = document.getElementById('bubble');
    bubble.classList.toggle('visually-hidden');
    //bubble.classList.remove('visually-hidden');
    //console.log(bubble);
});
const btnCancel = document.getElementById('cancel');
const closeFenetre =()=>{
    const bubble = document.getElementById('bubble');
    bubble.classList.toggle('visually-hidden');
}
btnCancel.addEventListener('click', (event)=>{
    event.preventDefault();
    closeFenetre();
});
const btnNewEvent = document.getElementById('new-event');
const vider = ()=> {
    document.getElementById('heure').value = '';
    document.getElementById('type').value = '';
    document.getElementById('pointaux').value = '';
    document.getElementById('observation').value = '';
}
// button remove from table of events--------------
const createButtonRemove = (tdAction,id) =>{
    const btnRemove = document.createElement('button');
    btnRemove.innerHTML= 'remove event';
    btnRemove.setAttribute('data-value',id);
    btnRemove.classList.add('header-bg');
    btnRemove.classList.add('p-3');
    btnRemove.classList.add('text-white');
    btnRemove.classList.add('border-0');
    btnRemove.addEventListener('click', (e)=>{
        let data = JSON.parse(localStorage.getItem('dataEvents'));
        const idValue = parseInt(e.target.getAttribute('data-value'));
        const table = document.getElementById('recap');
        data = data.filter((el)=> el.idEvent!=idValue);
        table.removeChild(document.querySelector('#recap'+idValue));
        localStorage.setItem('dataEvents',JSON.stringify(data));
        if(data.length===0){
            localStorage.removeItem('site');
            select.disabled = false;
        }
    });
    tdAction.appendChild(btnRemove);
    return tdAction;
}
//-----------------------------------------------------------------------
btnNewEvent.addEventListener('click', (event)=>{
   const data = JSON.parse(localStorage.getItem('dataEvents'))??[];
    event.preventDefault();
    const bubble = document.getElementById('bubble');
    bubble.classList.add('visually-hidden');
    const heure = document.getElementById('heure').value;
    const type = document.getElementById('type').value;
    const pointaux = document.getElementById('pointaux').value;
    const observation = document.getElementById('observation').value;
    const table = document.getElementById('recap');
    const row = document.createElement('tr');
    const tdHeure = document.createElement('td');
    const tdType = document.createElement('td');
    const tdPointaux = document.createElement('td');
    const tdObservation = document.createElement('td');
    const tdAction = document.createElement('td');
    const tdAction1 = createButtonRemove(tdAction, id+1);
    // tdAction1.appendChild(btnRemove);
    tdHeure.innerHTML = heure;
    tdType.innerHTML = type;
    tdPointaux.innerHTML = pointaux;
    tdObservation.innerHTML = observation;
    row.id = 'recap'+(id+1);
    row.appendChild(tdHeure);
    row.appendChild(tdType);
    row.appendChild(tdPointaux);
    row.appendChild(tdObservation);
    row.appendChild(tdAction1);
    table.appendChild(row);
    const evenement = {
        idEvent: id+1,
        heure: heure,
        type: type,
        pointaux: pointaux,
        observation: observation
    };
    data.push(evenement);
    localStorage.setItem('dataEvents', JSON.stringify(data));
    id++;
    vider();
});
const loadData = () =>{
    const data = JSON.parse(localStorage.getItem('dataEvents'))??[];
    const table = document.getElementById('recap');
    data.map(evenement => {
        const row = document.createElement('tr');
        const tdHeure = document.createElement('td');
        const tdType = document.createElement('td');
        const tdPointaux = document.createElement('td');
        const tdObservation = document.createElement('td');
        const tdAction = document.createElement('td');
        const tdAction1 = createButtonRemove(tdAction, evenement.idEvent);
        tdHeure.innerHTML = evenement.heure;
        tdType.innerHTML = evenement.type;
        tdPointaux.innerHTML = evenement.pointaux;
        tdObservation.innerHTML = evenement.observation;
        row.appendChild(tdHeure);
        row.appendChild(tdType);
        row.appendChild(tdPointaux);
        row.appendChild(tdObservation);
        row.appendChild(tdAction1);
        table.appendChild(row);
    });
}

loadData();
</script>
