{% extends 'base.html.twig' %}

{% block title %}LaRonde index{% endblock %}

{% block body %}
    <h1 class="display-2">
        La Ronde
        <a href="{{ path('app_la_ronde_new') }}"><img src="{{asset('images/plus.png')}}" width="35" title="Nouvelle ronde" alt="Nouvelle ronde"/></a>
    </h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                 <th>Date debut</th>
                <th>Date fin</th>
               <th>Site</th>
               <th>Superviseur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for la_ronde in la_rondes %}
            <tr>
                <td>{{ la_ronde.id }}</td>
                 <td>{{ la_ronde.dateDebut ? la_ronde.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ la_ronde.dateFin ? la_ronde.dateFin|date('Y-m-d H:i:s') : '' }}</td>
               <td>{{ la_ronde.site.nom }}</td>
               <td>{{ la_ronde.agent.nom }} {{ la_ronde.agent.prenom }}</td>
                <td>
                    <a class="m-e-3 text-decoration-none" href="{{ path('app_la_ronde_show', {'id': la_ronde.id}) }}">
                        <img src="{{asset('images/view.png')}}" width="25" title="details" alt="details"/>
                    </a>
                    {% if is_granted('ROLE_ADMIN')%}
                    <a href="{{ path('app_la_ronde_edit', {'id': la_ronde.id}) }}">
                         <img src="{{asset('images/editing.png')}}" width="25" title="details" alt="details"/>
                    </a>
                    {% endif %}
                    <a class="m-e-4 text-decoration-none" href="{{ path('app_la_ronde_download', {'id': la_ronde.id}) }}">
                        <img src="{{asset('images/download.png')}}" width="25" title="Télécharger en Pdf" alt="Télécharger"/>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_la_ronde_new') }}"><img src="{{asset('images/plus.png')}}" width="35" title="Nouvelle ronde" alt="Nouvelle ronde"/></a>
{% endblock %}
