{% extends 'base.html.twig' %}

{% block title %}LaRonde index{% endblock %}

{% block body %}
    <h1>LaRonde index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                 <th>Date_debut</th>
                <th>Date_fin</th>
               <th>Site</th>
               <th>Superviseur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for la_ronde in la_rondes %}
            <tr>
                <td>{{ la_ronde.id }}</td>
                 <td>{{ la_ronde.dateDebut ? la_ronde.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ la_ronde.dateFin ? la_ronde.dateFin|date('Y-m-d H:i:s') : '' }}</td>
               <td>{{ la_ronde.site.nom }}</td>
               <td>{{ la_ronde.agent.nom }} {{ la_ronde.agent.prenom }}</td>
                <td>
                    <a href="{{ path('app_la_ronde_show', {'id': la_ronde.id}) }}">Consulter</a>
                    {% if is_granted('ROLE_ADMIN')%}
                    <a href="{{ path('app_la_ronde_edit', {'id': la_ronde.id}) }}">Modifier</a>
                    {% endif %}
                    <a href="{{ path('app_la_ronde_edit', {'id': la_ronde.id}) }}">Télécharger</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_la_ronde_new') }}">Nouvelle ronde</a>
{% endblock %}
